body {
    font-family: Helvetica, Arial, sans-serif, 'Microsoft Yahei';
}
nav, div {
    border-radius: 0!important;
}

#login-bottom-bar{
    position: fixed;
    height: 70px;
    width: 100%;
    bottom: 0;
    color: #fff;
    background: rgba(0,0,0,0.8);
    z-index: 1001;
    text-align: center;
}
#login-bottom-bar .ask-to-login{
    font-size: 2em;
    line-height: 70px;
}

#login-bottom-bar{
    z-index: 1101;
}

.star-site-tour, .browsehappy {
    color: darkorange;
}
/*rewrite bootstrap poptip max width to fit in this demo while demonstration*/

.popover {
    max-width: 500px;
}
.popover img {
    max-width: 100%;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
}
.tour-backdrop {
    opacity: 0.4;
}

#login-bottom-bar .login-close,#login-bottom-bar .close{
    color: #fff!important;
}

.popover.tour-tour{
    box-shadow: 0 0 50px #000;
}
.tour-protip{
    color: #999;
}
.icon-keybaord {
    background-image: url('../images/tour/keyboard.png');
    display: inline-block;
    width: 25px;
    height: 22px;
    background-size: cover;
}
/*disable responsive*/

.container {
    width: 1100px;
    max-width: none !important;
}
.container .navbar-header, .container .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}
.top-control-panel {
    text-align: right;
    font-size: 0.9em;
}
.top-control-panel li {
    display: inline-block;
    margin: 0 5px;
    text-align: right;
}
.search-box-container {
    padding: 0;
    background-color: #fff;
    border: none!important;
    margin-bottom: 10px;
}
.search-box-wrapper {
    display: inline-block;
}
.baidu-products a {
    margin-right: 10px;
}
a.active-product {
    text-decoration: none;
    font-weight: bold;
    color: #000;
    cursor: default;
}
.tb-logo {
    margin-bottom: 10px;
    margin-right: 10px;
}
.search-box {
    width: 550px;
    height: 35px;
}
.tb-btn {
    height: 35px;
    border-radius: 0;
    /*border: 1px solid #000;*/
}
.btn-main {
    color: #fff;
    background-color: #3385ff;
    margin-left: -4px;
}
.login-btn{
    border-radius: 0;
}
.tb-btn.btn-main, .tb-btn.btn-common {
    margin-bottom: 2px;
    margin-right: 2px;
}
.btn-common {
    background-color: #E9E9E9;
}
.btn-common:hover {
    color: #5C96F1;
}
.advanced-search-link {
    margin-left: 15px;
}
.top-menu li.active {
    border-bottom: 2px solid;
}
.top-menu li:hover {
    background-color: #E9EBEE;
    border-bottom: 2px solid;
}
.nav-item>a {
    text-decoration: none;
    line-height: 46px;
    color: #5c6573;
    font-size: 1.2em;
    margin: 0 15px;
}
.nav-item>a:hover {
    text-decoration: none;
    color: #5c6573;
}
/*top nav end*/

/*main content start*/

/*left sidebar start*/

.left-side {
    border: 1px solid #DCDCDC;
    padding-top:15px;
}
.user-panel {
    margin-top: 10px;
}
.left-side {
    background-color: #F6F7FB;
}
/*user panel login part*/

/*reference:http://stackoverflow.com/questions/18838964/add-bootstrap-glyphicon-to-input-box/18839305#18839305*/

/* enable absolute positioning */

.inner-addon {
    position: relative;
}
/* style glyph */

.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
/* align glyph */

.left-addon .glyphicon {
    left: 0px;
}
.right-addon .glyphicon {
    right: 0px;
}
/* add padding  */

.left-addon input {
    padding-left: 30px;
}
.right-addon input {
    padding-right: 30px;
}
/*carousel*/

.carousel-indicators {
    bottom: -13px;
}
.carousel-indicators li {
    border-color: #3EA2E9;
    background-color: #3EA2E9;
}
.bar-des {
    color: #999;
}
.middle-col {
    padding: 0;
}
.right-sidebar, .main-container {
    padding-right: 0;
}
.top-casual {
    margin-bottom: 15px;
}
.bar-avatar {
    float: left;
    margin: 0 5px
}
.bar-avatar img {
    width: 60px;
    height: 60px;
    border: 1px solid #eee;
}
.duoduo {
    width: 270px;
    display: inline-block;
}
.duoduo img {
    width: 100px;
    height: 100px;
}
.bar-title {
    font-weight: bold;
    font-size: 1.1em;
}
.duoduo-count {
    color: #999;
}
.duoduo-count-user {
    padding-left: 20px;
    background-position: 0 1px;
    background-image: url('../images/duoduo.png');
}
.duoduo-count-post {
    padding-left: 20px;
    margin-left: 20px;
    background-position: 0 -33px;
    background-image: url('../images/duoduo.png');
}
.duoduo-follow {
    font-weight: normal;
    font-size: 0.9em;
}
.right-bar-block img {
    width: 100%;
    margin-bottom: 5px;
}
.right-bar-block ul {
    padding-left: 10px;
}
.heading-title {
    margin: 5px;
    padding: 0;
}
.heading-title li {
    display: inline-block;
    margin-right: 5px;
}
.heading-title a:hover {
    text-decoration: none;
}
.tb-footer, .tb-footer a {
    color: #999;
}
.main-content-title-wrapper {
    padding: 0;
}
.main-content-title-wrapper ul {
    margin: 0;
    padding: 0;
}
.main-content-title-wrapper ul li {
    height: 35px;
    padding: 7px;
}
.main-content-title-wrapper ul li:hover, .main-content-title-wrapper ul li.active {
    border-bottom: 2px solid red;
}
.hostress-des {
    color: #999;
    font-size: 11px;
}
.hostress-girl {
    width: 150px;
    height: 93px;
}
.girl1 {
    background: url('../images/hostress1.jpg');
    background-size: cover;
}
.girl1:hover {
    background: url('../images/hostress2.jpg');
    background-size: cover;
}
.girl2 {
    background: url('../images/hostress3.jpg');
    background-size: cover;
}
.girl2:hover {
    background: url('../images/hostress4.jpg');
    background-size: cover;
}
img.game {
    width: 30px;
    height: 30px;
}
.vip-item {
    position: relative;
}
.vip-wrapper img {
    width: 50px;
}
.vip-name {
    color: red;
    font-size: 0.8em;
}
.vip-icon {
    font-size: 1.8em;
}
.range-first {
    color: red;
}
.range-second {
    color: #FA6208;
}
.range-third {
    color: #E0AD0A;
}
.vip-range {
    position: absolute;
    left: 9px;
    top: 7px;
    color: #fff;
}
.hot-content-item {
    /*height: 130px;*/
    border-bottom: 1px solid #ddd;
}
.hot-content-item .bar-title a {
    color: #000;
}
.hot-content-img-wrapper img {
    height: 60px;
}

.follow-range-bar{
    color:#999;
    display: none;
}
.lotery-img{
    height: 80px;
}